#app {
  background-color: rgb(99, 224, 195);

  &:before {
    background-color: #537241;
  }
  &:after {
    background-color: #ccecb7;
  }
}

.double-password {
  width: 700px;
  height: 200px;
  font-size:60px;
}

.loader {
  font-size: 30px;
  $duration: 1s;
  display: inline;

  span {
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: {
          name: loading;
          iteration-count: infinite;
          duration: $duration;
          delay: ($i - 1s ) * 0.3;
        };
      }
    }
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  34% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}